In [5]:
import pandas as pd

In [8]:
pwd

'/Users/srimurari/Desktop/Repos/retail-sales-analytics/notebooks'

### Customer Data
- 5 columns and 99441 records
- This table gives us the information about the customer city
- There are customers from 27 states
- 4119 cities
- 14994 zip codes
- There are two customer ids - customer_id and customer_unique_id
- customer_unique_id has multiple customer_ids associated with it
- there are 96096 unique customers
- so customer_unique_id will be the primary key
- no null values

In [9]:
customer_data = pd.read_csv("../data/raw/olist_customers_dataset.csv")

In [11]:
customer_data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [27]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [18]:
customer_data.customer_unique_id.nunique()

96096

In [24]:
customer_data.groupby('customer_unique_id')['customer_id'].count().reset_index().sort_values('customer_id', ascending=False)

                     customer_unique_id  customer_id
52973  8d50f5eadf50201ccdcedfb9e2ac8455           17
23472  3e43e6105506432c953e165fb2acf44c            9
37797  6469f99c1f9dfae7733b25662e7f1782            7
76082  ca77025e7201e3b30c44b472ff346268            7
10354  1b6c7548a2a1f9037c1fd3ddfed95f33            7
...                                 ...          ...
32508  5657dfebff5868c4dc7e8355fea865c4            1
32507  5657596addb4d7b07b32cd330614bdf8            1
32506  5656eb169546146caeab56c3ffc3d268            1
32505  5656a8fabc8629ff96b2bc14f8c09a27            1
96095  ffffd2657e2aad2907e67c3e9daecbeb            1

[96096 rows x 2 columns]

In [25]:
customer_data[customer_data.customer_unique_id=='8d50f5eadf50201ccdcedfb9e2ac8455']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
14186,1bd3585471932167ab72a84955ebefea,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
15321,a8fabc805e9a10a3c93ae5bff642b86b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
16654,897b7f72042714efaa64ac306ba0cafc,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
36122,b2b13de0770e06de50080fea77c459e6,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
38073,42dbc1ad9d560637c9c4c1533746f86d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
40141,dfb941d6f7b02f57a44c3b7c3fefb44b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
48614,65f9db9dd07a4e79b625effa4c868fcb,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
52574,1c62b48fb34ee043310dcb233caabd2e,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
58707,a682769c4bc10fc6ef2101337a6c83c9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
67996,6289b75219d757a56c0cce8d9e427900,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
72745,3414a9c813e3ca02504b8be8b2deb27f,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
74510,0e4fdc084a6b9329ed55d62dcd653ccf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
83363,f5188d99e9281e214a4a7d1b139a8229,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
85507,89be66634d68fa73a95499b6352e085d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
90268,0bf8bf19944a7f8b40ba86fef778ca7c,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
93591,9a1afef458843a022e431f4cb304dfe9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
96652,31dd055624c66f291578297a551a6cdf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP

### Geolocation data
- 5 columns and 1000163 record
- no nulls
- it contains lat and long - not sure what is this
- each state x city x zip contains multiple lat and long
- the city names should be cleaned, same cities were there with different naming format, like acrelandia and acrelândia

In [26]:
geo_data = pd.read_csv('../data/raw/olist_geolocation_dataset.csv')

In [28]:
geo_data.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [29]:
geo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [35]:
geo_data.groupby(['geolocation_state','geolocation_city', 'geolocation_zip_code_prefix']).agg({'geolocation_lat':'count', 'geolocation_lng':'count'}).reset_index()

,geolocation_state,geolocation_city,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,AC,acrelandia,69945,6,6
1,AC,acrelândia,69945,2,2
2,AC,assis brasil,69935,13,13
3,AC,brasileia,69932,8,8
4,AC,brasiléia,69932,5,5
...,...,...,...,...,...
27907,TO,tupirama,77704,3,3
27908,TO,wanderlandia,77860,6,6
27909,TO,wanderlândia,77860,2,2
27910,TO,xambioa,77880,19,19
27911,TO,xambioá,77880,5,5

### Order items data
- 7 columns and 112650 records
- there are multiple products in each order, and equal no. of order_item_id and prouduct_id
- table also contains, seller id, shipping data, price and freight value
- order_id will be primary key

In [36]:
order_items_data = pd.read_csv('../data/raw/olist_order_items_dataset.csv')

In [37]:
order_items_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [38]:
order_items_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [41]:
dd = order_items_data.groupby('order_id').agg({'order_item_id':'count', 'product_id':'count'}).reset_index().sort_values('order_item_id', ascending=False)
dd

                               order_id  order_item_id  product_id
50137  8272b63d03f5f79c56e9e4120aec44ef             21          21
10459  1b15974a0141d54e36626dca3fdc731a             20          20
65715  ab14fdcfbe524636d65ee38360e22ce8             20          20
60941  9ef13efd6949e4573a18964dd1bbe7f5             15          15
25583  428a2f660dc84138d969ccd69a0ab6d5             15          15
...                                 ...            ...         ...
34640  5a0911d70c1f85d3bed0df1bf693a6dd              1           1
34639  5a082b558a3798d3e36d93bfa8ca1eae              1           1
34637  5a07264682e0b8fbb3f166edbbffc6e8              1           1
34636  5a071192a28951b76774e5a760c8c9b7              1           1
98665  fffe41c64501cc87c801fd61db3f6244              1           1

[98666 rows x 3 columns]

In [46]:
dd[dd['order_item_id']!=dd['product_id']]

Empty DataFrame
Columns: [order_id, order_item_id, product_id]
Index: []

### Payments data
- 5 columns and 103886 records
- table includes payment information for every order
- can join with order_id

In [47]:
payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')

In [48]:
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [49]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

### Reviews data
- order reviews data
- 7 columns and 99224 records
- title and message have NULL
- this table is reviewing the order delivery not each product review
- 98673 unique order
- order id is associated with multiple review ids

In [50]:
reviews = pd.read_csv('../data/raw/olist_order_reviews_dataset.csv')

In [51]:
reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [52]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [53]:
reviews.groupby('order_id')['review_id'].count().reset_index().sort_values('review_id', ascending=False)

                               order_id  review_id
54489  8e17072ec97ce29f0e1f111e598b0c85          3
77319  c88b1d1b157a9999ce368f218a407141          3
1455   03c939fd7fd3b38f8485a0f95798f1f6          3
86232  df56136b8031ecd28e200bb18e6ddb2e          3
15722  29062384ce4975f78aeba6a496510386          2
...                                 ...        ...
32987  559609410c90dc1792181a5f260a6600          1
32986  5595480d373b37e5738fc085dd9bcb8e          1
32985  559115c14f48d999adcc027b4a702c8b          1
32984  5590b14b260d2f61b2db5efb8d4a4601          1
98672  fffe41c64501cc87c801fd61db3f6244          1

[98673 rows x 2 columns]

In [54]:
reviews.order_id.nunique()

98673

In [55]:
orders = pd.read_csv('../data/raw/olist_orders_dataset.csv')