In [2]:
import pandas as pd

Orders
Items
Customers
Payments
Products
Sellers
Reviews
Location
Translation

### Summary
- There are 2963 cases where the orders were not delivered. Those are the cases where delivered_carrier_date, delivered_customer_Date, approved_At and mostly null expect a few. Only in 8 cases delivered_customer_date is null whenever order got delivered.  
- Dropped columns order_approved_at, order_delivered_carrier_date, order_estimated_delivery_date from orders table
- merged orders and order_items on order_id - left join
- previosuly order_id table has 99441 rows, after merge the orders_with_items table has 113425 rows. I have noticed there are multiple order_item_ids associated with each order_id so that can be the reason for increase in number

In [177]:
orders = pd.read_csv("../data/raw/olist_orders_dataset.csv")

In [178]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [179]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [180]:
orders.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [181]:
orders.order_status.unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [182]:
99441 - 96478

2963

In [183]:
orders[(orders.order_status=='delivered') & (orders.order_delivered_customer_date.isna()==True)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
3002,2d1e2d5bf4dc7227b3bfebb81328c15f,ec05a6d8558c6455f0cbbd8a420ad34f,delivered,2017-11-28 17:44:07,2017-11-28 17:56:40,2017-11-30 18:12:23,NaN,2017-12-18 00:00:00
20618,f5dd62b788049ad9fc0526e3ad11a097,5e89028e024b381dc84a13a3570decb4,delivered,2018-06-20 06:58:43,2018-06-20 07:19:05,2018-06-25 08:05:00,NaN,2018-07-16 00:00:00
43834,2ebdfc4f15f23b91474edf87475f108e,29f0540231702fda0cfdee0a310f11aa,delivered,2018-07-01 17:05:11,2018-07-01 17:15:12,2018-07-03 13:57:00,NaN,2018-07-30 00:00:00
79263,e69f75a717d64fc5ecdfae42b2e8e086,cfda40ca8dd0a5d486a9635b611b398a,delivered,2018-07-01 22:05:55,2018-07-01 22:15:14,2018-07-03 13:57:00,NaN,2018-07-30 00:00:00
82868,0d3268bad9b086af767785e3f0fc0133,4f1d63d35fb7c8999853b2699f5c7649,delivered,2018-07-01 21:14:02,2018-07-01 21:29:54,2018-07-03 09:28:00,NaN,2018-07-24 00:00:00
92643,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaN,NaN,2017-06-23 00:00:00
97647,ab7c89dc1bf4a1ead9d6ec1ec8968a84,dd1b84a7286eb4524d52af4256c0ba24,delivered,2018-06-08 12:09:39,2018-06-08 12:36:39,2018-06-12 14:10:00,NaN,2018-06-26 00:00:00
98038,20edc82cf5400ce95e1afacc25798b31,28c37425f1127d887d7337f284080a0f,delivered,2018-06-27 16:09:12,2018-06-27 16:29:30,2018-07-03 19:26:00,NaN,2018-07-19 00:00:00

In [184]:
orders[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_delivered_customer_date']]

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-17 15:08:01
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30

In [185]:
len(orders) - len(orders[(orders.order_status=='delivered')])

2963

In [186]:
orders[(orders.order_status!='delivered')].isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 146
order_delivered_carrier_date     1781
order_delivered_customer_date    2957
order_estimated_delivery_date       0
dtype: int64

In [187]:
orders = orders[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_delivered_customer_date']]

In [188]:
orders.order_purchase_timestamp = pd.to_datetime(orders.order_purchase_timestamp)
orders.order_delivered_customer_date = pd.to_datetime(orders.order_delivered_customer_date)

In [189]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_delivered_customer_date  96476 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 3.8+ MB

In [190]:
order_items = pd.read_csv("../data/raw/olist_order_items_dataset.csv")

In [191]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [192]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [193]:
order_items.shipping_limit_date = pd.to_datetime(order_items.shipping_limit_date)

In [194]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-17 15:08:01
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30

In [195]:
orders_with_items = pd.merge(orders, order_items, on='order_id', how='left')

In [196]:
orders_with_items.shape

(113425, 11)

In [197]:
orders.shape

(99441, 5)

In [198]:
order_items.groupby('order_id')['order_item_id'].count().reset_index().sort_values('order_item_id', ascending=False)

                               order_id  order_item_id
50137  8272b63d03f5f79c56e9e4120aec44ef             21
10459  1b15974a0141d54e36626dca3fdc731a             20
65715  ab14fdcfbe524636d65ee38360e22ce8             20
60941  9ef13efd6949e4573a18964dd1bbe7f5             15
25583  428a2f660dc84138d969ccd69a0ab6d5             15
...                                 ...            ...
34640  5a0911d70c1f85d3bed0df1bf693a6dd              1
34639  5a082b558a3798d3e36d93bfa8ca1eae              1
34637  5a07264682e0b8fbb3f166edbbffc6e8              1
34636  5a071192a28951b76774e5a760c8c9b7              1
98665  fffe41c64501cc87c801fd61db3f6244              1

[98666 rows x 2 columns]

In [199]:
orders_with_items.duplicated().any()

np.False_

In [200]:
orders_with_items[orders_with_items.duplicated()==True]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_delivered_customer_date, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

## Summary
- The customers table is so clean, there is one record for each customer. 
- Merged it with orders_with_items table -> one-to-one mapping

In [74]:
orders_with_items = pd.read_csv("../data/processed/orders_with_items.csv")

In [79]:
orders_with_items

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...
113420,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,1.0,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,20.10
113421,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,1.0,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,65.02
113422,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
113423,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,2.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
113424,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,1.0,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36

In [76]:
customers = pd.read_csv("../data/raw/olist_customers_dataset.csv")

In [77]:
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [87]:
customers.customer_id.nunique()

99441

In [89]:
orders_with_items.shape

(113425, 11)

In [90]:
orders_items_customers = pd.merge(orders_with_items, customers, on='customer_id', how='left')

In [91]:
orders_items_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 13.0+ MB

## Summary
- In payments table, there are multiple records associated with payment id like 2 or more occurances, payment_sequential keep them unique. Can't drop that, may be those can be useful in the future so continuing without dropping anyrows
- So after merging with ord_itm_cust data, the rows size increased from 113425 to 118434
- as some of the rows got multiplied after merging, so this makes price and freight duplicated to need to keep this in mind
- payment_sequential says that order was paid using multiple payment instruments, not multiple attempts - we should not drop that for sure

In [141]:
ord_itm_cust = pd.read_csv('../data/processed/ord_itm_cust.csv')

In [142]:
payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')

In [143]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [144]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [145]:
payments.order_id.nunique()

99440

In [146]:
payments[payments.order_id.duplicated()].sort_values('order_id')

,order_id,payment_sequential,payment_type,payment_installments,payment_value
89575,0016dfedd97fc2950e388d2971d718c7,1,credit_card,5,52.63
98894,002f19a65a2ddd70a090297872e6d64e,2,voucher,1,33.18
30155,0071ee2429bc1efdc43aa3e073a5290e,2,voucher,1,92.44
16053,009ac365164f8e06f59d18a08045f6c4,1,credit_card,1,0.88
32058,009ac365164f8e06f59d18a08045f6c4,4,voucher,1,5.45
...,...,...,...,...,...
26914,ff978de32e717acd3b5abe1fb069d2b6,2,voucher,1,10.80
28611,ff978de32e717acd3b5abe1fb069d2b6,3,voucher,1,0.66
55988,ffa1dd97810de91a03abd7bd76d2fed1,1,credit_card,1,36.58
32912,ffa39020fe7c8a3e907320e1bec4b985,1,credit_card,1,7.13
75188,ffc730a0615d28ec19f9cad02cb41442,1,credit_card,1,14.76

In [147]:
payments[payments.groupby('order_id')['order_id'].transform('size') > 1].sort_values('order_id', ascending=True)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
80856,0016dfedd97fc2950e388d2971d718c7,2,voucher,1,17.92
89575,0016dfedd97fc2950e388d2971d718c7,1,credit_card,5,52.63
20036,002f19a65a2ddd70a090297872e6d64e,1,voucher,1,44.11
98894,002f19a65a2ddd70a090297872e6d64e,2,voucher,1,33.18
30155,0071ee2429bc1efdc43aa3e073a5290e,2,voucher,1,92.44
...,...,...,...,...,...
21648,ffa1dd97810de91a03abd7bd76d2fed1,2,voucher,1,418.73
32912,ffa39020fe7c8a3e907320e1bec4b985,1,credit_card,1,7.13
3009,ffa39020fe7c8a3e907320e1bec4b985,2,voucher,1,64.01
75188,ffc730a0615d28ec19f9cad02cb41442,1,credit_card,1,14.76
28537,ffc730a0615d28ec19f9cad02cb41442,2,credit_card,1,12.63

In [148]:
payments[payments.duplicated()]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [149]:
ord_pay = pd.merge(ord_itm_cust, payments, on='order_id', how='left')

In [150]:
ord_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118434 entries, 0 to 118433
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  object
 4   order_delivered_customer_date  115037 non-null  object
 5   order_item_id                  117604 non-null  float64
 6   product_id                     117604 non-null  object
 7   seller_id                      117604 non-null  object
 8   shipping_limit_date            117604 non-null  object
 9   price                          117604 non-null  float64
 10  freight_value                  117604 non-null  float64
 11  customer_unique_id             118434 non-null  object
 12  customer_zip_code_prefix       118434 non-null  int64
 13  customer_city                  118434 non-null  object
 14  customer_state                 118434 non-null  object
 15  payment_sequential             118431 non-null  float64
 16  payment_type                   118431 non-null  object
 17  payment_installments           118431 non-null  float64
 18  payment_value                  118431 non-null  float64
dtypes: float64(6), int64(1), object(12)
memory usage: 17.2+ MB

In [151]:
ord_itm_cust.shape

(113425, 15)

In [152]:
ord_pay[ord_pay.duplicated()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_delivered_customer_date, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [155]:
payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')

In [156]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

## Summary
- Simplified the payments data into one row per order_id
- now when we merge with ord_itm_cust data we still have same no.of rows
- in the ord_cust_itm table there is order_id that is not part of payments data

In [157]:
payments[payments.order_id=='b81ef226f3fe1789b1e8b2acac839d17']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [158]:
payments[payments.order_id=='4069c489933782af79afcd3a0e4d693c']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
22534,4069c489933782af79afcd3a0e4d693c,10,voucher,1,38.38
27314,4069c489933782af79afcd3a0e4d693c,8,voucher,1,9.42
40832,4069c489933782af79afcd3a0e4d693c,4,voucher,1,9.83
43894,4069c489933782af79afcd3a0e4d693c,7,voucher,1,15.84
50712,4069c489933782af79afcd3a0e4d693c,2,voucher,1,9.33
65216,4069c489933782af79afcd3a0e4d693c,1,credit_card,1,0.47
70089,4069c489933782af79afcd3a0e4d693c,5,voucher,1,13.60
75373,4069c489933782af79afcd3a0e4d693c,3,voucher,1,14.69
79236,4069c489933782af79afcd3a0e4d693c,9,voucher,1,7.67
83061,4069c489933782af79afcd3a0e4d693c,6,voucher,1,16.55
103463,4069c489933782af79afcd3a0e4d693c,11,voucher,1,11.37

In [168]:
38.38+9.42+9.83+15.84+9.33+0.47+13.60+14.69+7.76+16.55+11.37

147.24

In [166]:
ptm

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,[credit_card],2,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,[credit_card],3,259.83
2,000229ec398224ef6ca0657da4fc703e,1,[credit_card],5,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,[credit_card],2,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,[credit_card],3,218.04
...,...,...,...,...,...
99435,fffc94f6ce00a00581880bf54a75a037,1,[boleto],1,343.40
99436,fffcd46ef2263f404302a634eb57f7eb,1,[boleto],1,386.53
99437,fffce4705a9662cd70adb13d4a31832d,1,[credit_card],3,116.85
99438,fffe18544ffabc95dfada21779c9644f,1,[credit_card],3,64.71
99439,fffe41c64501cc87c801fd61db3f6244,1,[credit_card],1,55.79

In [167]:
ptm[ptm.order_id=='4069c489933782af79afcd3a0e4d693c']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
24953,4069c489933782af79afcd3a0e4d693c,11,"[voucher, voucher, voucher, voucher, voucher, ...",1,147.15

## Sumamry
- in the payments data as explored before one order_id is not part of payments. In the order table that particular order_id has 3 items in it. So, in pay_simplified data 3 rows have NA in the payment columns
- have merged the proudcts with ord_pay_simp
- there is one row per product and not every product has category name and other details

In [5]:
pay_simp = pd.read_csv('../data/processed/ord_pay_simplified.csv')

In [173]:
pay_simp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
 15  payment_sequential             113422 non-null  float64
 16  payment_type                   113422 non-null  object
 17  payment_installments           113422 non-null  float64
 18  payment_value                  113422 non-null  float64
dtypes: float64(6), int64(1), object(12)
memory usage: 16.4+ MB

In [175]:
pay_simp[pay_simp.payment_value.isna()==True]

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value
35037,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,1.0,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,NaN,NaN,NaN,NaN
35038,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2.0,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,NaN,NaN,NaN,NaN
35039,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,3.0,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,NaN,NaN,NaN,NaN

In [3]:
products = pd.read_csv("../data/raw/olist_products_dataset.csv")

In [4]:
products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [9]:
ord_pay_simp = pd.read_csv('../data/processed/ord_pay_simplified.csv')

In [10]:
ord_pay_simp

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3.0,"['credit_card', 'voucher', 'voucher']",1.0,38.71
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1.0,['boleto'],1.0,141.46
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1.0,['credit_card'],3.0,179.12
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1.0,['credit_card'],1.0,72.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,1.0,['credit_card'],1.0,28.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,1.0,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,20.10,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,1.0,['credit_card'],3.0,195.00
113421,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,1.0,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,65.02,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,1.0,['credit_card'],5.0,271.01
113422,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,1.0,['credit_card'],4.0,441.16
113423,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,2.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,1.0,['credit_card'],4.0,441.16
113424,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,1.0,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,1.0,['debit_card'],1.0,86.86

In [11]:
ord_pay_simp.product_id.nunique()

32951

In [7]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [14]:
products.product_id.nunique()

32951

In [16]:
products = products[['product_id', 'product_category_name', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']]

In [17]:
products[products.duplicated()]

Empty DataFrame
Columns: [product_id, product_category_name, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [19]:
ord_pay_simp.shape

(113425, 19)

In [20]:
ord_pay_prod = pd.merge(ord_pay_simp, products, on='product_id', how='left')

In [21]:
ord_pay_prod.shape

(113425, 24)

In [22]:
ord_pay_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
 15  payment_sequential             113422 non-null  float64
 16  payment_type                   113422 non-null  object
 17  payment_installments           113422 non-null  float64
 18  payment_value                  113422 non-null  float64
 19  product_category_name          111047 non-null  object
 20  product_weight_g               112632 non-null  float64
 21  product_length_cm              112632 non-null  float64
 22  product_height_cm              112632 non-null  float64
 23  product_width_cm               112632 non-null  float64
dtypes: float64(10), int64(1), object(13)
memory usage: 20.8+ MB

## Summary
- merged seller data into the fact table
- there are 3095 unique sellers in both tables
- but we can see there so NA in other merged columns, need to check where are we getting those

In [31]:
sellers = pd.read_csv("../data/raw/olist_sellers_dataset.csv")

In [32]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [33]:
ord_pay_prod = pd.read_csv('../data/processed/ord_pay_prod.csv')

In [34]:
ord_pay_prod.shape

(113425, 24)

In [35]:
ord_pay_prod.seller_id.nunique()

3095

In [36]:
ord_prod_sell = pd.merge(ord_pay_prod, sellers, on='seller_id', how='left')

In [37]:
ord_prod_sell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
 15  payment_sequential             113422 non-null  float64
 16  payment_type                   113422 non-null  object
 17  payment_installments           113422 non-null  float64
 18  payment_value                  113422 non-null  float64
 19  product_category_name          111047 non-null  object
 20  product_weight_g               112632 non-null  float64
 21  product_length_cm              112632 non-null  float64
 22  product_height_cm              112632 non-null  float64
 23  product_width_cm               112632 non-null  float64
 24  seller_zip_code_prefix         112650 non-null  float64
 25  seller_city                    112650 non-null  object
 26  seller_state                   112650 non-null  object
dtypes: float64(11), int64(1), object(15)
memory usage: 23.4+ MB

In [40]:
ord_sell = pd.read_csv('../data/processed/ord_prod_sell.csv')

In [42]:
ord_sell

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,shipping_limit_date,price,...,customer_state,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,...,SP,3.0,"['credit_card', 'voucher', 'voucher']",1.0,38.71,utilidades_domesticas,500.0,19.0,8.0,13.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,...,BA,1.0,['boleto'],1.0,141.46,perfumaria,400.0,19.0,13.0,19.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,...,GO,1.0,['credit_card'],3.0,179.12,automotivo,420.0,24.0,19.0,21.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,...,RN,1.0,['credit_card'],1.0,72.20,pet_shop,450.0,30.0,10.0,20.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,...,SP,1.0,['credit_card'],1.0,28.62,papelaria,250.0,51.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,1.0,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,...,SP,1.0,['credit_card'],3.0,195.00,bebes,4950.0,40.0,10.0,40.0
113421,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,1.0,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,...,BA,1.0,['credit_card'],5.0,271.01,eletrodomesticos_2,13300.0,32.0,90.0,22.0
113422,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,...,RJ,1.0,['credit_card'],4.0,441.16,informatica_acessorios,6550.0,20.0,20.0,20.0
113423,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,2.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,...,RJ,1.0,['credit_card'],4.0,441.16,informatica_acessorios,6550.0,20.0,20.0,20.0
113424,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,1.0,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,...,PR,1.0,['debit_card'],1.0,86.86,beleza_saude,150.0,16.0,7.0,15.0

In [46]:
ord_sell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
 15  payment_sequential             113422 non-null  float64
 16  payment_type                   113422 non-null  object
 17  payment_installments           113422 non-null  float64
 18  payment_value                  113422 non-null  float64
 19  product_category_name          111047 non-null  object
 20  product_weight_g               112632 non-null  float64
 21  product_length_cm              112632 non-null  float64
 22  product_height_cm              112632 non-null  float64
 23  product_width_cm               112632 non-null  float64
dtypes: float64(10), int64(1), object(13)
memory usage: 20.8+ MB

Final table `ord_prod_sell` represents order-item–level transactional data with customer identity, payment behavior, product attributes, and seller information.