In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/cleaned/cleaned.csv')

In [3]:
data

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,shipping_limit_date,price,...,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,is_delivered,has_del_date,has_prod_dim,has_pay_info,customer_city_clean,seller_city_clean
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,...,13.0,9350.0,maua,SP,True,True,True,True,sao paulo,maua
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,...,19.0,31570.0,belo horizonte,SP,True,True,True,True,barreiras,belo horizonte
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,...,21.0,14840.0,guariba,SP,True,True,True,True,vianopolis,guariba
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,...,20.0,31842.0,belo horizonte,MG,True,True,True,True,sao goncalo do amarante,belo horizonte
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,...,15.0,8752.0,mogi das cruzes,SP,True,True,True,True,santo andre,mogi das cruzes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-28 17:37:56,1.0,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,...,40.0,17602.0,tupa,SP,True,True,True,True,praia grande,tupa
113421,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-09-21 11:24:17,1.0,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,...,22.0,8290.0,sao paulo,SP,True,True,True,True,nova vicosa,sao paulo
113422,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,...,20.0,37175.0,ilicinea,MG,True,True,True,True,japuiba,ilicinea
113423,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-25 23:32:54,2.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,...,20.0,37175.0,ilicinea,MG,True,True,True,True,japuiba,ilicinea
113424,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-16 13:08:30,1.0,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,...,15.0,14407.0,franca,SP,True,True,True,True,lapa,franca

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
 15  payment_sequential             113422 non-null  float64
 16  payment_type                   113422 non-null  object
 17  payment_installments           113422 non-null  float64
 18  payment_value                  113422 non-null  float64
 19  product_category_name          111047 non-null  object
 20  product_weight_g               112632 non-null  float64
 21  product_length_cm              112632 non-null  float64
 22  product_height_cm              112632 non-null  float64
 23  product_width_cm               112632 non-null  float64
 24  seller_zip_code_prefix         112650 non-null  float64
 25  seller_city                    112650 non-null  object
 26  seller_state                   112650 non-null  object
 27  is_delivered                   113425 non-null  bool
 28  has_del_date                   113425 non-null  bool
 29  has_prod_dim                   113425 non-null  bool
 30  has_pay_info                   113425 non-null  bool
 31  customer_city_clean            113425 non-null  object
 32  seller_city_clean              112650 non-null  object
dtypes: bool(4), float64(11), int64(1), object(17)
memory usage: 25.5+ MB

In [6]:
data[['price','payment_value', 'freight_value']]

         price  payment_value  freight_value
0        29.99          38.71           8.72
1       118.70         141.46          22.76
2       159.90         179.12          19.22
3        45.00          72.20          27.20
4        19.90          28.62           8.72
...        ...            ...            ...
113420  174.90         195.00          20.10
113421  205.99         271.01          65.02
113422  179.99         441.16          40.59
113423  179.99         441.16          40.59
113424   68.50          86.86          18.36

[113425 rows x 3 columns]

In [ ]:
data.item_total_value = data.price + data.freight_value

In [ ]:
data.price = round(data.price, 2)
data.item_total_value = round(data.item_total_value, 2)

In [50]:
data.delivery_days = (pd.to_datetime(data.order_delivered_customer_date)- pd.to_datetime(data.order_purchase_timestamp)).dt.days

0          8.0
1         13.0
2          9.0
3         13.0
4          2.0
          ...
113420    22.0
113421    24.0
113422    17.0
113423    17.0
113424     7.0
Length: 113425, dtype: float64

In [ ]:
import ast

In [88]:
data.payment_type = data.payment_type.apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [89]:
data.num_pay_methods =  data.payment_type.str.len()

In [91]:
data.used_voucher = data.payment_type.apply(lambda x: 'voucher' in x if isinstance(x, list) else False)

/var/folders/zd/888r3jl15dvdnp_y9m33lzn40000gn/T/ipykernel_29580/550457471.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.used_voucher = data.payment_type.apply(lambda x: 'voucher' in x if isinstance(x, list) else False)

In [93]:
data.product_volume_cm3 = data.product_length_cm * data.product_height_cm * data.product_width_cm

/var/folders/zd/888r3jl15dvdnp_y9m33lzn40000gn/T/ipykernel_29580/1569173382.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.product_volume_cm3 = data.product_length_cm * data.product_height_cm * data.product_width_cm

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 35 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_delivered_customer_date  110196 non-null  object
 5   order_item_id                  112650 non-null  float64
 6   product_id                     112650 non-null  object
 7   seller_id                      112650 non-null  object
 8   shipping_limit_date            112650 non-null  object
 9   price                          112650 non-null  float64
 10  freight_value                  112650 non-null  float64
 11  customer_unique_id             113425 non-null  object
 12  customer_zip_code_prefix       113425 non-null  int64
 13  customer_city                  113425 non-null  object
 14  customer_state                 113425 non-null  object
 15  payment_sequential             113422 non-null  float64
 16  payment_type                   113422 non-null  object
 17  payment_installments           113422 non-null  float64
 18  payment_value                  113422 non-null  float64
 19  product_category_name          111047 non-null  object
 20  product_weight_g               112632 non-null  float64
 21  product_length_cm              112632 non-null  float64
 22  product_height_cm              112632 non-null  float64
 23  product_width_cm               112632 non-null  float64
 24  seller_zip_code_prefix         112650 non-null  float64
 25  seller_city                    112650 non-null  object
 26  seller_state                   112650 non-null  object
 27  is_delivered                   113425 non-null  bool
 28  has_del_date                   113425 non-null  bool
 29  has_prod_dim                   113425 non-null  bool
 30  has_pay_info                   113425 non-null  bool
 31  customer_city_clean            113425 non-null  object
 32  seller_city_clean              112650 non-null  object
 33  paid                           112650 non-null  float64
 34  item_total_value               112650 non-null  float64
dtypes: bool(4), float64(13), int64(1), object(17)
memory usage: 27.3+ MB